
{% extends 'blog/base.html' %}

{% block content %}
  <br \>
  <a class="btn btn-default sprawdz" href="{% url 'odlicz_zajecia' %}">TYLKO W FAMILY DANCE MOŻESZ SPRAWDZIĆ ILE MASZ JESZCZE WEJŚĆ NA KARNECIE! KLIKNIJ!<span></span></a>
  <br \>
  <br \>
  <br \>
  <br \>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}
