{% extends 'blog/base.html' %}

{% block content %}
<br />
<br />
<br />
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="odlicz_zajecia.html">
                                <h1>Odlicz zajęcia</h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="klient_list.html">
                                <h1>Lista klientów</h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="filtruj.html">
                              <br />
                              <br />
                              <br />
                                <h1>Filtruj</h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                              <br />
                              <br />
                              <br />
                                <!--<h1>Lista instruktorów</h1>-->
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                              <br />
                              <br />
                              <br />
                                <!--<h1>Lista zajęć</h1>-->
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                              <br />
                              <br />
                              <br />
                                <!--<h1>Lista instruktorów</h1>-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
{% endblock content %}
